<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TuEnsalada</display-name>
	<servlet>
    	<servlet-name>StartupServlet</servlet-name>
    	<!--display-name>Startup Servlet</display-name-->
    	<servlet-class>ar.com.WareTech.TuEnsalada.frontend.web.StartupServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
    </servlet> 
    <filter>
        <filter-name>HibernateSessionFilter</filter-name>
        <filter-class>ar.com.WareTech.TuEnsalada.frontend.web.HibernateSessionFilter</filter-class>
	</filter>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>ar.com.WareTech.TuEnsalada.frontend.web.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>HibernateSessionFilter</filter-name>                        
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	<filter-mapping>
        <filter-name>SecurityFilter</filter-name>                        
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/Error500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/Error404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>
